.container {
  position: relative;
  height: 120px;
}
.headerContainer {
  height: 60px;
}
.header {
  border-bottom: 1px solid rgba(0, 27, 55, 0.1);
  height: 60px;
  padding: 4px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: white;
}
.logo {
  margin-left: 16px;
  font-size: 25px;
  cursor: pointer;
  font-weight: 600;
}
.divider {
  color: #d1d6db;
  margin: 15px;
  font-weight: normal;
}
.filterContainer {
  font-size: 16px;
  margin-left: 16px;
  margin-top: 10px;
  padding: 4px;
  font-weight: 600;
  position: fixed;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
